LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token
LINE_CHANNEL_SECRET=your_line_channel_secret
DIFY_API_KEY=app-xxxxxxxxxxxxxxxxxxxx
DIFY_BASE_URL=https://api.dify.ai/v1
DIFY_USER_PREFIX=line
STT_PROVIDER=assemblyai
ASSEMBLYAI_API_KEY=your_assemblyai_api_key
STT_LANGUAGE_CODE=zh
STT_SPEECH_MODELS=universal-3-pro,universal-2
STT_POLL_SECONDS=2.5
STT_TIMEOUT_SECONDS=120
STT_UPLOAD_TIMEOUT_SECONDS=600
DIARIZATION_SPEAKERS_EXPECTED=0
BOT_DB_PATH="/Users/linxuanli/Library/Mobile Documents/com~apple~CloudDocs/Code/lineagent/bot_memory.sqlite3"
WORKER_POLL_SECONDS=1.5
